
@CHARSET "UTF-8";

div#computers-search, div#rooms-search, div#users-search, div#login, div#register {
	margin-top: 15px;
}

form {
	margin-bottom: 0;
}

/* Remove bootstrap styles */

/* Remove radius */
.jumbotron, .form-control, .btn, .navbar-inverse, .input-group-addon, .dropdown-menu,
.list-group-item, .panel, .alert, .modal-content {
	border-radius: 0 !important;
}

/* Remove margins */
.list-group, .navbar {
	margin-bottom: 0;
}

/* Remove outline */
.btn:focus {
  outline: none !important;
}
/* Modals */
.modal .modal-footer form, .panel .panel-footer form, form.inline {
	display: inline;
}

div#message {
	margin-top: 30px;
}

/* Panel heading label */
div.panel div.panel-heading span.label {
	padding: .2em .6em .2em;
}

div#room, div#computer, div#booking {
	margin-top: 15px;
}

#profile .col-md-12 .alert {
	margin-bottom: 0;
}