@CHARSET "UTF-8";

form {
	margin-bottom: 0;
}

/* Remove bootstrap styles */

/* Remove radius */
.jumbotron, .form-control, .btn, .navbar-inverse, .input-group-addon {
	border-radius: 0 !important;
}

/* Remove margins */
.list-group, .navbar {
	margin-bottom: 0;
}
